<div class="dashboard-wrapper">
  @if (restaurants && restaurants.length > 0) {
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      @for (restaurant of restaurants; track $index; let i = $index) {
        <mat-tab [label]="restaurant.restaurant_name">
          <div class="tab-content-container">
            <app-dashboard
              [restaurantIndex]="i"
              [restaurantData]="restaurant">
            </app-dashboard>
          </div>
        </mat-tab>
      }
    </mat-tab-group>
  } @else {
    <div class="loading-spinner">
      <p>Lade Restaurant-Daten, Lieutenant...</p>
    </div>
  }
</div>
