.idea/sqldialects.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/dataSources.xml
.idea/data_source_mapping.xml
mikurando-angular/.env
.DS_Store
mikurando-backend/.env
/mikurando-backend/node_modules
