.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Zentriert es vertikal auf dem Bildschirm */
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

button {
  width: 100%;
  margin-top: 10px;
}
