<nav class="topnav">
  <div class="brand">Mikurando</div>
  <div class="links">
    <a [routerLink]= getHome() *ngIf="isLoggedIn()">Home</a>
    <a routerLink="/forum" *ngIf="isLoggedIn()">Forum</a>
    <img *ngIf="isLoggedIn() && profilePicture()" 
         [src]="profilePicture()" 
         alt="Profile" 
         class="profile-picture" />
    <button *ngIf="isLoggedIn() && !profilePicture()" class="profile-button" (click)="navigateToProfile()">
      <mat-icon class="profile-icon">account_circle</mat-icon>
      <span class="email-text">{{ userEmail() }}</span>
    </button>

    <a routerLink="/login" *ngIf="!isLoggedIn()">Login</a>
    <button class="linkbtn" type="button" (click)="logout()" *ngIf="isLoggedIn()">Logout</button>
    <a routerLink="/cart" *ngIf="isLoggedIn()" class="cart-link">
      <mat-icon [matBadge]="cartItemCount()" 
                [matBadgeHidden]="cartItemCount() === 0"
                matBadgeColor="warn"
                matBadgeSize="small">
        shopping_cart
      </mat-icon>
    </a>

  </div>
</nav>

<router-outlet></router-outlet>
