<nav class="topnav">
  <div class="brand">Mikurando</div>
  <div class="links">
    <a [routerLink]= getHome() *ngIf="isLoggedIn()">Home</a>
    <a routerLink="/admin" *ngIf="isLoggedIn()">Admin</a>
    <a routerLink="/map" *ngIf="isLoggedIn()">Map</a>

    <span class="user" *ngIf="isLoggedIn()">{{ userName() }}</span>

    <a routerLink="/login" *ngIf="!isLoggedIn()">Login</a>
    <button class="linkbtn" type="button" (click)="logout()" *ngIf="isLoggedIn()">Logout</button>
  </div>
</nav>

<router-outlet></router-outlet>
